
@{
    ViewBag.Title = "AdminCategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <label>Kategori Adı</label>
    <br />
    <input type="text" name="CategoryName"/>

    <br />
    <label>Kategori Açıklama</label>
    <br />
    <input type="text" name="CategoryDescription" />
    <br />
    <br />
    <button class="btn btn-sm btn-info">Kaydet</button>
</form>
